.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  display: flex;
}

.App-header {
  background-color: blue;
  height: fix;
  padding: 20px;
  color: white;
  display: flex;
  align-content: center;
  margin: 0px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
