.wrapper {
  margin: 10px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}
.box {
  overflow: hidden;
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
}
.box img {
  background-position: center bottom;
  height: fit;
  width: 100%;
}
.box:hover{
  opacity: .5;
}
